<article class="content-menu">
  <ul>
    <li><%= to_mail_inbox %></li>
    <li><%= to_mail_inbox_read %></li>
    <li><%= to_mail_inbox_unread %></li>
    <li><%= to_mail_outbox %></li>
    <li><%= to_mail_outbox_read %></li>
    <li><%= to_mail_outbox_unread %></li>
  </ul>
</article>