<ul>
  <li><%= link_to "Home", profiles__index_path %></li>
  <li><%= to_friends %></li>
  <li><%= link_to "Mail", mail__inbox_path %></li>
  <li><%= to_microblog_home %></li>
  <li><%= link_to "QA", questions__index_path %></li>
</ul>