<% content_for :title do %>
  Friends
<% end %>

<%= render "links" %>

<% if @friends_count > 0 %>
  <article class="friends">
    <% @friends.each do |friend| %>
      <table>
        <tr>
          <td class="avatar"><%= image_tag friend.user_profile.avatar %></td>
          <td class="user-info">
            <% if friend.username == current_user.username %>
              <h1><%= link_to "#{friend.full_name} (it's you)", profiles__show_path(:username => friend.username) %></h1>
            <% else %>
              <h1><%= link_to friend.full_name, profiles__show_path(:username => friend.username) %></h1>
            <% end %>
            <p><%= friend.user_profile.org_name %></p>
            <p><%= friend.user_profile.org_unit %></p>
            <p><%= friend.user_profile.org_position %></p>
          </td>
          <td class="menu">
            <% if @personal %>
              <p><%= link_to "View profile", profiles__show_path(:username => friend.username) %></p>
              <p><%= to_remove_friend(friend) %></p>
            <% else %>
              <p><%= link_to "View profile", profiles__show_path(:username => friend.username) %></p>
              <% if friend.username == current_user.username %>
                <p><%= to_friends %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  </article>
<% else %>
  <article class="friends-empty">
    <p>You have not friends.</p>
  </article>
<% end %>