<% content_for :title do %>
  Your requests
<% end %>

<%= render "links" %>

<% if @requests_from_count > 0 %>
  <article class="friends">
    <% @requests.each do |request| %>
      <table>
        <tr>
          <td class="avatar"><%= image_tag request.user_profile.avatar %></td>
          <td class="user-info">
            <h1><%= link_to request.full_name, profiles__show_path(:username => request.username) %></h1>
            <p><%= request.user_profile.org_name %></p>
            <p><%= request.user_profile.org_unit %></p>
            <p><%= request.user_profile.org_position %></p>
          </td>
          <td class="menu">
            <p><%= link_to "View profile", profiles__show_path(:username => request.username) %></p>
          </td>
        </tr>
      </table>
    <% end %>
  </article>
<% else %>
  <article class="empty">
    <p>You have not requests for other users.</p>
  </article>
<% end %>