<article class="content-menu">
  <ul>
    <% if @personal %>
      <li><%= to_microblog_global_feed %></li>
      <li><%= to_microblog_local_feed %></li>
      <li><%= to_microblog_personal_feed %></li>
      <li><%= to_microblog_followings_feed %></li>
      <li><%= to_microblog_followers_feed %></li>
      <% if action_name == "favorites_feed" %>
        <li><%= link_to "Favorites", microblog__favorites_feed_path, :class => "selected" %></li>
      <% else %>
        <li><%= link_to "Favorites", microblog__favorites_feed_path %></li>
      <% end %>
      <li class="separator"></li>
      <li><%= to_microblog_subscribes %></li>
    <% else %>
      <li><%= to_microblog_user_local_feed @user %></li>
      <li><%= to_microblog_user_personal_feed @user  %></li>
      <li><%= to_microblog_user_followings_feed @user %></li>
      <li><%= to_microblog_user_followers_feed @user %></li>
      <li class="separator"></li>
      <li><%= to_microblog_user_subscribes @user %></li>
      <li class="separator"></li>
      <% if @follow_flag %>
        <li><%= to_unfollow @user %></li>
      <% else %>
        <li><%= to_follow @user %></li>
      <% end %>
    <% end %>
  </ul>
</article>