<%= form_for(@user_profile, :url => profile_master__main_save_path, :html => {:method => :put }) do |f| %>
  <div class="field">
    <%= f.label :first_name, "First name *:"%><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last name *:" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender, "Gender *:" %><br />
    <%= select :user_profile, :gender, [["Male", true], ["Female", false]] %>
  </div>
  <div class="field">
    <%= f.label :birthday, "Birthday *:" %><br />
    <%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => Date.today.year - 90, :end_year => Date.today.year - 14 %>
  </div>
  <div class="field">
    <%= f.label :country, "Country *:" %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :state, "State *:" %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :city, "City *:" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>