<article class="menu">
  <h1>Feeds</h1>
  <ul>
    <li><%= to_microblog_global_feed "Global feed" %></li>
    <li><%= to_microblog_local_feed "Local feed" %></li>
    <li><%= to_microblog_personal_feed "Personal feed" %></li>
    <li><%= to_microblog_followings_feed "Followings feed" %></li>
    <li><%= to_microblog_followers_feed "Followers feed" %></li>
  </ul>
</article>
<article class="menu">
  <h1>Subscribes</h1>
  <ul>
    <li><%= to_microblog_followings "Followings" %></li>
    <li><%= to_microblog_followers "Followers" %></li>
  </ul>
</article>