<article class="menu">
  <h1>Feeds</h1>
  <ul>
    <li><%= to_microblog_global_feed %></li>
    <li><%= to_microblog_local_feed %></li>
    <li><%= to_microblog_personal_feed %></li>
    <li><%= to_microblog_followings_feed %></li>
    <li><%= to_microblog_followers_feed %></li>
  </ul>
</article>
<article class="menu">
  <h1>Subscribes</h1>
  <ul>
    <li><%= to_microblog_followings %></li>
    <li><%= to_microblog_followers %></li>
  </ul>
</article>