<article class="content-menu">
  <ul>
    <li>Subscribes:</li>
    <% if action_name == "followings" %>
      <li><%= link_to "Followings", microblog__followings_path(:username => @user.username), :class => "selected" %></li>
    <% else %>
      <li><%= link_to "Followings", microblog__followings_path(:username => @user.username) %></li>
    <% end %>

    <% if action_name == "followers" %>
      <li><%= link_to "Followers", microblog__followers_path(:username => @user.username), :class => "selected" %></li>
    <% else %>
      <li><%= link_to "Followers", microblog__followers_path(:username => @user.username) %></li>
    <% end %>

    <li class="separator"></li>

    <li><%= link_to "Feeds", microblog__personal_feed_path(:username => @user.username) %></li>
  </ul>
</article>