<% content_for :title do %>
  Followers feed
<% end %>

<% if @posts_count > 0 %>
  <article class="microblog">
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td rowspan=2 class="avatar"><%= image_tag post.author.user_profile.avatar %></td>
        <td class="user-info">
          <h1><%= link_to post.author.full_name, microblog__personal_feed_path(:username => post.author.username) %> written:</h1>
          <p class="post-text"><%= post.text %></p>
        </td>
        <td rowspan=2 class="menu">

        </td>
      </tr>
      <tr>
        <td class="posted-at"><p><%= post.created_at.strftime("Posted at %e %B %Y in %H:%M") %></p></td>
      </tr>
    </table>
  <% end %>
  <div class="pagination">
    <div class="entries"><%= page_entries_info @posts %></div>
    <div>
    <% if @personal %>
      <%= will_paginate @posts, :container => false, :inner_window => 1, :params => { :username => nil } %>
    <% else %>
      <%= will_paginate @posts, :container => false, :inner_window => 1 %>
    <% end %>
    </div>
  </div>
  </article>
<% else %>
  <article class="microblog">
    <article class="microblog-empty">

    </article>
  </article>
<% end %>