<% content_for :title do %>
  Followers feed
<% end %>

<%= content_for :left_aside do %>
  <%= render "left_aside" %>
<% end %>

<%= content_for :right_aside do %>
  <%= render "right_aside" %>
<% end %>

<%= render "microblog/links/feeds_links" %>

<% if @posts_count > 0 %>
  <article class="microblog">
    <article class="action-menu">
      Recommends:
      <% if @personal %>
        <%= link_to "Enable", microblog__followers_feed_path(:username => nil, :recommends => "enable"), :class => "left" %>
        <%= link_to "Only", microblog__followers_feed_path(:username => nil, :recommends => "only") %>
        <%= link_to "Disable", microblog__followers_feed_path(:username => nil, :recommends => "disable") %>    
      <% else %>
        <%= link_to "Enable", microblog__followers_feed_path(:username => @user.username, :recommends => "enable"), :class => "left" %>
        <%= link_to "Only", microblog__followers_feed_path(:username => @user.username, :recommends => "only") %>
        <%= link_to "Disable", microblog__followers_feed_path(:username => @user.username, :recommends => "disable") %>
      <% end %>
    </article>
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td rowspan=2 class="avatar"><%= image_tag post.author.user_profile.avatar %></td>
        <td class="user-info">
          <h1><%= to_microblog_user_home post.author, post.author.full_name %> written:</h1>
          <p class="post-text"><%= post.text %></p>
        </td>
        <td rowspan=2 class="menu">
          <% unless post.author.id == current_user.id %>
            <% if post[:recommend] %>
              <p><%= link_to "Unrecommend", microblog__unrecommend_post_path(:id => post.id), :method => :put %></p>
            <% else %>
              <p><%= link_to "Recommend", microblog__recommend_post_path(:id => post.id), :method => :put %></p>
            <% end %>
          <% else %>
            <p><%= to_delete_post(post) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="posted-at"><p><%= post.created_at.strftime("Posted at %e %B %Y in %H:%M") %></p></td>
      </tr>
    </table>
  <% end %>
  <div class="pagination">
    <div class="entries"><%= page_entries_info @posts %></div>
    <div>
    <% if @personal %>
      <%= will_paginate @posts, :container => false, :inner_window => 1, :params => { :username => nil } %>
    <% else %>
      <%= will_paginate @posts, :container => false, :inner_window => 1 %>
    <% end %>
    </div>
  </div>
  </article>
<% else %>
  <article class="microblog">
    <article class="microblog-empty">

    </article>
  </article>
<% end %>