<% content_for :title do %>
  Followers
<% end %>

<% if @microblog.followers_count > 0 %>
  <article class="friends">
    <% @followers.each do |follower| %>
      <table>
        <tr>
          <td class="avatar"><%= image_tag follower.user_profile.avatar %></td>
          <td class="user-info">
            <h1><%= link_to follower.full_name, profiles__show_path(:username => follower.username) %></h1>
            <p><%= follower.user_profile.org_name %></p>
            <p><%= follower.user_profile.org_unit %></p>
            <p><%= follower.user_profile.org_position %></p>
          </td>
          <td class="menu">
            <% unless @personal and follower.id == current_user.id %>
              <% if @current_microblog.following_ids.include?(follower.id) %>
                <p><%= link_to "Unfollow", microblog__remove_following_path(:following => follower.username), :method => :put %></p>
              <% end %>
              <% unless @current_microblog.following_ids.include?(follower.id) %>
                <p><%= link_to "Follow", microblog__add_following_path(:following => follower.username), :method => :put %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
    <div class="pagination">
      <div class="entries"><%= page_entries_info @followers %></div>
      <div>
        <% if @personal %>
          <%= will_paginate @followers, :container => false, :inner_window => 1, :params => { :username => nil } %>
        <% else %>
          <%= will_paginate @followers, :container => false, :inner_window => 1 %>
        <% end %>
      </div>
    </div>
  </article>
<% else %>
  <article class="friends-empty">
    <p>You have not friends.</p>
  </article>
<% end %>