<% content_for :title do %>
  Global feed
<% end %>

<%= content_for :left_aside do %>
  <%= render "left_aside" %>
<% end %>

<%= content_for :right_aside do %>
  <%= render "right_aside" %>
<% end %>

<%= render "microblog/links/feeds_links" %>

<% if @posts_count > 0 %>
  <article class="microblog">
  <%= render "form" %>
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td rowspan=2 class="avatar"><%= image_tag post.author.user_profile.avatar %></td>
        <td class="user-info">
          <h1><%= to_microblog_user_home post.author, post.author.full_name %> written:</h1>
          <p class="post-text"><%= post.text %></p>
        </td>
        <td rowspan=2 class="menu">

        </td>
      </tr>
      <tr>
        <td class="posted-at"><p><%= post.created_at.strftime("Posted at %e %B %Y in %H:%M") %></p></td>
      </tr>
    </table>
  <% end %>
  <div class="pagination">
    <div class="entries"><%= page_entries_info @posts %></div>
    <div>
      <%= will_paginate @posts, :container => false, :inner_window => 1 %>
    </div>
  </div>
  </article>
<% else %>
  <article class="microblog">
    <article class="microblog-empty">

    </article>
  </article>
<% end %>