<% content_for :title do %>
  Personal feed
<% end %>

<% if @personal %>
  <%= render "personal_feeds_links" %>
<% else %>
  <%= render "feeds_links" %>
<% end %>

<% if @posts_count > 0 %>
  <article class="microblog">
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td rowspan=2 class="avatar"><%= image_tag @user.user_profile.avatar %></td>
        <td class="user-info">
          <h1><%= link_to @user.full_name, microblog__personal_feed_path(:username => nil) %> written:</h1>
          <p class="post-text"><%= post.text %></p>
        </td>
        <td rowspan=2 class="menu">
          <p><a href="">Menu Item</a></p>
        </td>
      </tr>
      <tr>
        <td class="posted-at"><p><%= post.created_at.strftime("Posted at %e %B %Y in %H:%M") %></p></td>
      </tr>
    </table>
  <% end %>
  </article>
<% else %>
  <article class="microblog">
    <article class="microblog-empty">
      <p>Empty</p>
    </article>
  </article>
<% end %>