<% content_for :title do %>
  Posts with tag '<%= @tag %>'
<% end %>

<%= content_for :left_aside do %>
  <%= render "left_aside" %>
<% end %>

<%= content_for :right_aside do %>
  <%= render "right_aside" %>
<% end %>

<%= render "microblog/links/feeds_links" %>

<% if @posts_count > 0 %>
  <article class="microblog">
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td rowspan=4 class="avatar"><%= image_tag post.author.user_profile.avatar %></td>
        <td class="user-info">
          <h1><%= to_microblog_user_home post.author, post.author.full_name %> written:</h1>
          <p class="post-text"><%= hash_tags(post) %></p>
        </td>
        <td rowspan=4 class="menu">
          <% unless post.author.id == current_user.id %>
            <% if post[:recommend] %>
              <p><%= link_to "Unrecommend", microblog__unrecommend_post_path(:id => post.id), :method => :put %></p>
            <% else %>
              <p><%= link_to "Recommend", microblog__recommend_post_path(:id => post.id), :method => :put %></p>
            <% end %>
            <% if post[:favorite] %>
              <p><%= link_to "Unfavorite", microblog__unfavorite_post_path(:id => post.id), :method => :put %></p>
            <% else %>
              <p><%= link_to "Favorite", microblog__favorite_post_path(:id => post.id), :method => :put %></p>
            <% end %>
          <% else %>
            <p><%= to_delete_post(post) %>
          <% end %>
          <p><a href="">Comments(<%= post.comments_count %>)</a></p>
          <p><a style="cursor: pointer;" onclick="$('#<%= post.id %>').show(); $('#<%= post.id %> > textarea').focus();">Add Comment</a></p>
        </td>
      </tr>
      <tr>
        <td class="tags">
          <p>
            Tags:
            <% if post.tags.size > 0 %>
              <% post.tags.each do |tag| %>
                <%= link_to "#{tag}", microblog__tag_feed_path(:tag => tag) %>
              <% end %>
            <% else %>
              None
            <% end %>
          </p>
        </td>
      </tr>
      <tr>
        <td class="posted-at"><p><%= post.created_at.strftime("Posted at %e %B %Y in %H:%M") %></p></td>
      </tr>
      <tr>
        <td class="reply-form">
          <%= form_tag microblog__add_comment_path(:post_id => post.id), :method => :put, :id => post.id do %>
            <%= text_area_tag :text %>
            <%= submit_tag "Comment" %>
            <input type="reset" onclick="$('#<%= post.id %>').hide();" value="Close"></input>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <div class="pagination">
    <div class="entries"><%= page_entries_info @posts %></div>
    <div>
      <%= will_paginate @posts, :container => false, :inner_window => 1 %>
    </div>
  </div>
  </article>
<% else %>
  <article class="microblog">
    <article class="microblog-empty">

    </article>
  </article>
<% end %>