<!DOCTYPE html>
<html>
    <head>
        <title>Webula | <%= @user_profile.first_name %> <%= @user_profile.last_name %> | <%= yield :title %></title>
        <%= stylesheet_link_tag "fonts" %>
        <%= stylesheet_link_tag "style" %>
        <%= stylesheet_link_tag "settings" %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag "feedback" %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <a href="http://github.com/demiazz/webula" class="fork">Fork me on GitHub</a>

        <!-- Feed Back Link -->
        <a id="feedback-link">Feedback</a>
        <!-- Feed Back Form -->
        <div id="shield"></div>
        <div id="feedback">
            <form>
                <h1>Feedback</h1>
                <p><select>
                    <option>Error</option>
                    <option>Proposal</option>
                    <option>Thanks</option>
                    <option>Question</option>
                </select></p>
                <p><input type="text"></input></p>
                <p><textarea></textarea></p>
                <p>
                    <input type="submit" value="Send feedback"></input>
                    <input id="feedback-close" type="reset" value="Cancel"></input>
                </p>
                <p>Thank you for your help!</p>
            </form>
        </div>

    	<!-- Header -->
        <header>
            <section class="content">
            	<!-- Logo -->
                <a href="<%= root_path %>"><%= image_tag "logo.png", :class => "logo" %></a>
                <a href="<%= root_path %>"><%= image_tag current_user.user_profile.avatar, :class => "avatar" %></a>
                <p class="status">
                	<a href="<%= root_path %>">
                		<%= current_user.user_profile.first_name %> <%= current_user.user_profile.last_name %>
                	</a>
                	[
                	<a href="<%= settings__account_edit_path %>" class="options">Settings</a>
                	 | 
                	<a href="<%= destroy_session_path(:user) %>" class="exit">Exit</a>
                	]
                </p>
            </section>
        </header>

        <!-- Navigation -->
        <nav>
            <ul>
                <%= render "shared/nav" %>
            </ul>
        </nav>

        <!-- Page Content -->
        <section id="page-wrapper">
        	<section id="page">
        	
        		<!-- Left Side Bar -->
            	<aside id="left-aside">
                	<article class="avatar">
                		<a href="<%= root_path %>"><%= image_tag @user_profile.avatar, :id => "avatar" %></a>
                	</article>
                	<%= yield :left_aside %>
            	</aside>

            	<!-- Content -->
            	<section id="content">
            		
            		<!-- Content Header -->
            		<section id="content-header">
                        <h1 style="float: left"><%= @user.full_name %>
                            <% if @personal %>
                            (it's you)
                            <% end %>
                        </h1>
                        <h1 style="float: right"><%= yield :title %></h1>
            		</section>

            		<!-- Content Body -->
                	<section id="content-body">
                    	<%= yield %>
                    </section>
                
                	<!-- Content Footer -->
                	<section id="content-footer">
                    	<p class="links">
                        	<%= yield :footer_links %>
                    	</p>
                    	<p class="copyright">Webula © 2011 Alexey "demiazz" Plutalov</p>
                	</section>
            	
            	</section>

            	<!-- Right Side Bar -->
            	<aside id="right-aside">
            		<%= yield :right_aside %>
            	</aside>
        
        	</section>
        </section>
    </body>
</html>